.header {
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);

  &__logo {
    img {
      width: 144px;
      height: 30px;
      opacity: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__search {
    display: flex;
    width: 400px;
    height: 40px;
    opacity: 1;
    border-width: 1px solid #213f7d;

    input {
      flex: 1;
      height: 40px;

      border: 1px solid #dfe2e8;
      border-right: none;

      border-radius: 8px 0 0 8px;

      padding: 0 15px;
      outline: none;
    }

    button {
      width: 56px;
      height: 40px;

      opacity: 1;
      border: none;
      background: #39cdcc;
      color: white;

      border-radius: 0 8px 8px 0;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #213f7d;
    }
  }

  &__notification {
    border: none;
    background: transparent;
    cursor: pointer;

    color: #213f7d;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-family: Work Sans;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0px;
      color: #213f7d;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;

    &__search {
      display: none;
    }

    &__actions {
      gap: 12px;

      a {
        display: none;
      }
    }

    &__profile {
      span {
        display: none;
      }
    }
  }
}
