.table-card {
  position: relative;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  padding: 30px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

th {
  color: #545f7d;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  text-align: left;

  span {
    margin-right: 8px;
  }

  svg {
    vertical-align: middle;
  }
}

td {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #545f7d;
  padding: 18px 0;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

tbody tr:last-child td {
  border-bottom: none;
}

.status {
  padding: 7px 14px;
  border-radius: 100px;
  font-size: 14px;
}

.status.active {
  color: #39cd62;
  background: rgba(57, 205, 98, 0.08);
}

.status.inactive {
  color: #545f7d;
  background: rgba(84, 95, 125, 0.08);
}

.status.pending {
  color: #e9b200;
  background: rgba(233, 178, 0, 0.1);
}

.status.blacklisted {
  color: #e4033b;
  background: rgba(228, 3, 59, 0.1);
}

.menu-button {
  border: none;
  background: transparent;
  color: #545f7d;
  cursor: pointer;
}

.filter-icon-button {
  border: none;
  background: transparent;
  color: #545f7d;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}

.action-cell {
  position: relative;
  width: 40px;
}
